In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.ExcelFile('Internship.xlsx').parse('Sheet1')

In [4]:
df.head()

,RESOURCE_CODE,RESOURCE_DESC,RESOURCE_GROUP,MAX HR OF BOOKING,PER HOUR RATE,RES_SPECIFICATION,Unnamed: 6
0,10091,Crane 100T #1,KMWHLC,72.0,2000.0,Big Mobile Crane 100T #1,6.0
1,10090,Crane 160T #1,KMWHLC,72.0,2000.0,Big Mobile Crane 160T #1,NaN
2,10093,Crane 40T #1,KMWHLC,72.0,2000.0,Big Mobile Crane 40T #1,NaN
3,10092,Crane 80T #1,KMWHLC,72.0,2000.0,Big Mobile Crane 80T #1,NaN
4,10158,DEMAG- 200T,WHLC,48.0,500.0,CAPACITY - 200T - BOOM LENGTH (MTR) - 60,NaN

In [5]:
df.describe()

       RESOURCE_CODE  MAX HR OF BOOKING  PER HOUR RATE   Unnamed: 6
count      81.000000          78.000000       78.000000         1.0
mean     9985.975309          53.538462      846.153846         6.0
std      1115.409342          17.264702      363.136520         NaN
min        80.000000          24.000000      500.000000         6.0
25%     10076.000000          48.000000      500.000000         6.0
50%     10116.000000          48.000000     1000.000000         6.0
75%     10155.000000          72.000000     1000.000000         6.0
max     10184.000000          72.000000     2000.000000         6.0

In [6]:
df.shape

(81, 7)

# No. of Resources available

In [7]:
len(df[1:])  # First row is title so we exclude it

80

# No. of Unique Resources available

In [8]:
df.count()

RESOURCE_CODE        81
RESOURCE_DESC        80
RESOURCE_GROUP       80
MAX HR OF BOOKING    78
PER HOUR RATE        78
RES_SPECIFICATION    80
Unnamed: 6            1
dtype: int64

In [9]:
df['RESOURCE_GROUP'].nunique()

11

In [10]:
item_counts=df['RESOURCE_GROUP'].value_counts()

In [11]:
item_counts

KMWHLC    16
DSLG      12
COMP      11
WHLC      10
KMPAC     10
KMDSLG     8
FLTT       5
KMCOMP     4
PDGS       2
DMP        1
PAC        1
Name: RESOURCE_GROUP, dtype: int64

In [12]:
data=df.loc[(df['RESOURCE_GROUP'] == 'COMP') | (df['RESOURCE_GROUP'] == 'KMCOMP') | (df['RESOURCE_GROUP']=='WHLC')]

In [13]:
data.head()

,RESOURCE_CODE,RESOURCE_DESC,RESOURCE_GROUP,MAX HR OF BOOKING,PER HOUR RATE,RES_SPECIFICATION,Unnamed: 6
4,10158,DEMAG- 200T,WHLC,48.0,500.0,CAPACITY - 200T - BOOM LENGTH (MTR) - 60,NaN
5,10159,DEMAG- 300T,WHLC,48.0,500.0,CAPACITY - 300T - BOOM LENGTH (MTR) - 54,NaN
6,10155,DEMAG- 80T,WHLC,48.0,500.0,CAPACITY - 80T - BOOM LENGTH (MTR) - 50,NaN
7,10156,DEMAG-100T,WHLC,48.0,500.0,CAPACITY - 100T - BOOM LENGTH (MTR) - 42,NaN
8,10184,DEMAG-100T2,WHLC,48.0,500.0,CAPACITY - 100T - BOOM LENGTH (MTR) - 42,NaN

In [14]:
data.to_excel('Compressor_Type.xlsx')

In [16]:
data1=df.loc[(df['RESOURCE_GROUP'] == 'KMDSLG')]

In [17]:
data1.to_excel('welding_set.xlsx')

In [18]:
data2=df.loc[(df['RESOURCE_GROUP'] != 'COMP') & (df['RESOURCE_GROUP'] != 'KMCOMP') & (df['RESOURCE_GROUP']!='WHLC') & (df['RESOURCE_GROUP'] != 'KMDSLG')]

In [19]:
data2.to_excel('other_resource.xlsx')

In [39]:
df_new=df.iloc[:, [0,1,4]]

In [40]:
df_new.head()

   RESOURCE_CODE  RESOURCE_DESC  PER HOUR RATE
0          10091  Crane 100T #1          2000.0
1          10090  Crane 160T #1          2000.0
2          10093   Crane 40T #1          2000.0
3          10092   Crane 80T #1          2000.0
4          10158    DEMAG- 200T           500.0

In [41]:
df_new.to_excel('Resource_desc.xlsx')

In [42]:
data3=df.iloc[:,[1,3]]

In [43]:
data3.to_excel('hour_of_booking.xlsx')